/* 本轮失败 */

position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* 0f7aba9f869bb8f8ad30fa2c1940e39c_compress 1 */

position: absolute;
width: 1948px;
height: 1087px;
left: 0px;
top: 0px;

background: url(0f7aba9f869bb8f8ad30fa2c1940e39c_compress.jpg);


/* 通关后3选1 未选中 1 */

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

background: url(通关后3选1 未选中.png);


/* Rectangle 18 */

position: absolute;
width: 1948px;
height: 1087px;
left: 0px;
top: 0px;

background: #000000;
opacity: 0.66;


/* 底板 */

position: absolute;
width: 1312.01px;
height: 417.39px;
left: 199.99px;
top: 341.65px;



/* Group 94 */

position: absolute;
width: 1312.01px;
height: 417.39px;
left: 199.99px;
top: 341.65px;



/* Rectangle 19 */

position: absolute;
width: 1205px;
height: 393px;
left: 307px;
top: 362px;

background: #3A281B;


/* image 9 */

position: absolute;
width: 125.79px;
height: 400.7px;
left: 199.99px;
top: 341.65px;

background: url(image.png);
transform: matrix(0.98, 0.19, 0.19, -0.98, 0, 0);


/* 左底板 1 */

position: absolute;
left: 10.99%;
right: 49.06%;
top: 23.24%;
bottom: -48.89%;

background: url(左底板.png);
transform: rotate(-90deg);


/* e887f3bddef20661274cd7e7c095fa7e_compress 1 */

position: absolute;
width: 2527px;
height: 1895px;
left: 1px;
top: -408px;

background: url(e887f3bddef20661274cd7e7c095fa7e_compress.jpg);
mix-blend-mode: multiply;
opacity: 0.19;


/* Rectangle 55 */

position: absolute;
width: 1344px;
height: 32px;
left: 260px;
top: 345px;

background: #604B39;
border: 6px solid #000000;


/* Rectangle 57 */

position: absolute;
width: 1344px;
height: 32px;
left: 260px;
top: 740px;

background: #604B39;
border: 6px solid #000000;


/* Group 41 */

position: absolute;
width: 1120px;
height: 387px;
left: 421px;
top: 400px;



/* Rectangle 20 */

position: absolute;
width: 1120px;
height: 220px;
left: 421px;
top: 567px;

background: #7F6442;
border: 12px solid #291E14;


/* Mask group */

position: absolute;
width: 1120px;
height: 220px;
left: 421px;
top: 567px;

mix-blend-mode: color-burn;
opacity: 0.18;


/* Rectangle 22 */

box-sizing: border-box;

position: absolute;
width: 1120px;
height: 220px;
left: 421px;
top: 567px;

background: #7F6442;
border: 12px solid #291E14;


/* e887f3bddef20661274cd7e7c095fa7e_compress 1 */

position: absolute;
width: 1071px;
height: 803px;
left: 348px;
top: 250px;

background: url(e887f3bddef20661274cd7e7c095fa7e_compress.jpg);


/* Rectangle 21 */

position: absolute;
width: 368px;
height: 60px;
left: 964px;
top: 507px;

background: #291E14;


/* Group 39 */

position: absolute;
width: 267px;
height: 71px;
left: 1015px;
top: 509px;



/* 本轮已选卡牌 */

position: absolute;
width: 267px;
height: 71px;
left: 1015px;
top: 509px;

font-family: 'HYRuiYiSong';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 54px;

color: #FFFFFF;



/* Group 35 */

position: absolute;
width: 402px;
height: 34px;
left: 451px;
top: 414px;



/* 到达关卡： */

position: absolute;
width: 201px;
height: 33px;
left: 451px;
top: 415px;

font-family: 'FZHei-B01S';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;

color: #FFFFFF;



/* 第 5 关 */

position: absolute;
width: 201px;
height: 33px;
left: 652px;
top: 414px;

font-family: 'FZHei-B01S';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;

color: #FFFFFF;



/* Group 36 */

position: absolute;
width: 402px;
height: 34px;
left: 451px;
top: 482px;



/* 击败数量： */

position: absolute;
width: 201px;
height: 33px;
left: 451px;
top: 483px;

font-family: 'FZHei-B01S';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;

color: #FFFFFF;



/* 684 */

position: absolute;
width: 201px;
height: 33px;
left: 652px;
top: 482px;

font-family: 'FZHei-B01S';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;

color: #FFFFFF;



/* Group 38 */

position: absolute;
width: 402px;
height: 62px;
left: 863px;
top: 400px;



/* Group 37 */

position: absolute;
width: 402px;
height: 34px;
left: 863px;
top: 412px;



/* 获得金币： */

position: absolute;
width: 201px;
height: 33px;
left: 863px;
top: 413px;

font-family: 'FZHei-B01S';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;

color: #FFFFFF;



/* 126 */

position: absolute;
width: 201px;
height: 33px;
left: 1064px;
top: 412px;

font-family: 'FZHei-B01S';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;

color: #FFFFFF;



/* 时间碎片 */

position: absolute;
width: 56px;
height: 62px;
left: 1139px;
top: 400px;

background: url(2bad94efdbad4e8f4d5fc83829264284_origin.png);


/* Group 40 */

position: absolute;
width: 784px;
height: 164px;
left: 465px;
top: 595px;



/* Rectangle 22 */

position: absolute;
width: 136px;
height: 164px;
left: 465px;
top: 595px;

background: #D9D9D9;


/* Rectangle 23 */

position: absolute;
width: 136px;
height: 164px;
left: 627px;
top: 595px;

background: #D9D9D9;


/* Rectangle 24 */

position: absolute;
width: 136px;
height: 164px;
left: 789px;
top: 595px;

background: #D9D9D9;


/* Rectangle 25 */

position: absolute;
width: 136px;
height: 164px;
left: 951px;
top: 595px;

background: #D9D9D9;


/* Rectangle 26 */

position: absolute;
width: 136px;
height: 164px;
left: 1113px;
top: 595px;

background: #D9D9D9;


/* Group 95 */

position: absolute;
width: 784px;
height: 164px;
left: 465px;
top: 595px;



/* Rectangle 50 */

position: absolute;
width: 136px;
height: 164px;
left: 465px;
top: 595px;

background: #F5E5C1;
border: 4px solid #000000;


/* Rectangle 51 */

position: absolute;
width: 136px;
height: 164px;
left: 627px;
top: 595px;

background: #F5E5C1;
border: 4px solid #000000;


/* Rectangle 52 */

position: absolute;
width: 136px;
height: 164px;
left: 789px;
top: 595px;

background: #F5E5C1;
border: 4px solid #000000;


/* Rectangle 53 */

position: absolute;
width: 136px;
height: 164px;
left: 951px;
top: 595px;

background: #F5E5C1;
border: 4px solid #000000;


/* Rectangle 54 */

position: absolute;
width: 136px;
height: 164px;
left: 1113px;
top: 595px;

background: #F5E5C1;
border: 4px solid #000000;


/* 本轮失败 */

position: absolute;
width: 613px;
height: 139px;
left: 735px;
top: 206px;

font-family: 'HYRuiYiSong';
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 143px;

color: #FFF4E1;

border: 3px solid #40271B;


/* 红-原皮 */

position: absolute;
width: 552px;
height: 695px;
left: 1195px;
top: 192px;

background: url(图层 9.png);


/* 重开整局 */

position: absolute;
width: 405px;
height: 136px;
left: 502px;
top: 808px;



/* 按钮深 1 */

position: absolute;
visibility: hidden;
width: 351px;
height: 114px;
left: 528px;
top: 820px;

background: url(按钮深.png);


/* 537724a283601ca3697fd08a9f2e9000_origin 1 */

position: absolute;
width: 405px;
height: 136px;
left: 502px;
top: 808px;

background: url(537724a283601ca3697fd08a9f2e9000_origin.png);


/* Vector 3 */

position: absolute;
width: 348.5px;
height: 79.5px;
left: 530px;
top: 836.5px;

background: #E2DAAC;
mix-blend-mode: overlay;


/* Vector 4 */

position: absolute;
width: 348.5px;
height: 79.5px;
left: 530px;
top: 836.5px;

background: #CBF9B8;
mix-blend-mode: saturation;


/* 重开整局 */

position: absolute;
width: 182px;
height: 64px;
left: 613px;
top: 853px;

font-family: 'FZHei-B01S';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 47px;
text-align: center;
letter-spacing: 0.01em;

color: #FFF7EB;



/* 返回主菜单 */

position: absolute;
width: 405px;
height: 136px;
left: 943px;
top: 808px;



/* 按钮深 1 */

position: absolute;
visibility: hidden;
width: 351px;
height: 114px;
left: 969px;
top: 820px;

background: url(按钮深.png);


/* 537724a283601ca3697fd08a9f2e9000_origin 1 */

position: absolute;
width: 405px;
height: 136px;
left: 943px;
top: 808px;

background: url(537724a283601ca3697fd08a9f2e9000_origin.png);


/* 返回主菜单 */

position: absolute;
width: 292px;
height: 64px;
left: 1000px;
top: 853px;

font-family: 'FZHei-B01S';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 47px;
text-align: center;
letter-spacing: 0.01em;

color: #FFF7EB;



/* 枯萎的花2 */

position: absolute;
width: 312px;
height: 326px;
left: 200px;
top: 599px;



/* Subtract */

position: absolute;
width: 312px;
height: 326px;
left: 200px;
top: 599px;

background: #D9D9D9;


/* Rectangle 63 */

position: absolute;
width: 312px;
height: 326px;
left: 200px;
top: 599px;

background: #D9D9D9;


/* Rectangle 62 */

position: absolute;
width: 113px;
height: 117px;
left: 374px;
top: 776px;

background: #D9D9D9;


/* 枯萎的花2 */

position: absolute;
width: 193px;
height: 194px;
left: 237px;
top: 643px;

background: url(图层 2.png);


/* 枯萎的花 */

position: absolute;
width: 200px;
height: 278px;
left: 1108px;
top: 234px;



/* Subtract */

position: absolute;
width: 200px;
height: 278px;
left: 1108px;
top: 234px;

background: #D9D9D9;


/* Rectangle 61 */

position: absolute;
width: 200px;
height: 278px;
left: 1108px;
top: 234px;

background: #D9D9D9;


/* Union */

position: absolute;
width: 65.31px;
height: 124.89px;
left: 1128.41px;
top: 355.46px;

background: #D9D9D9;


/* Rectangle 58 */

position: absolute;
width: 40px;
height: 86.39px;
left: 1128.41px;
top: 355.46px;

background: #D9D9D9;


/* Rectangle 59 */

position: absolute;
width: 40px;
height: 86.39px;
left: 1139.84px;
top: 373.43px;

background: #D9D9D9;


/* Rectangle 60 */

position: absolute;
width: 40px;
height: 86.39px;
left: 1153.71px;
top: 393.96px;

background: #D9D9D9;


/* 图层 2 2 */

position: absolute;
width: 159.74px;
height: 160.31px;
left: 1132.97px;
top: 270.97px;

background: url(图层 2.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
